.container {
    margin-bottom: 60px;
}
.container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}
.container input {
    width: 100%;
    border-radius: 5px; 
    padding: 10px 15px;
    font-size: 1.2rem;
    border: none;
}
.container textarea {
    width: 100%;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 1.2rem;
    border: none;
}
.formContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.inputsContainer{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.actionsContainer{
    display: flex;
    justify-content: space-between; 
    gap: 20px;
}

