.container {
    margin-bottom: 30px;
}
.container form {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.container input {
    width: 60%;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 1.2rem;
    border: none;
}