.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 100%;
  gap: 40px;
  background-color: #d4d3d1;
}

.logo {
    height: 100px;
    width: 100px;
  }

.text {
  font-size: 52px;
  font-weight: bold;
}